<%= form_with model: post, local: true, class: "needs-validation", html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h5 class="alert-heading">Please fix the following errors:</h5>
      <ul class="mb-0">
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label fw-bold" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter post title" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label fw-bold" %>
    <%= form.text_area :content, class: "form-control", placeholder: "Write your content here...", rows: 5 %>
  </div>

	<div class="mb-3">
    <%= form.label :image, class: "form-label fw-bold" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit "Save Post", class: "btn user-btn px-4" %>
  </div>
<% end %>
