<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Social Media" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

   

  </head>

  <body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Social Media App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item me-2 d-flex align-items-center text-white">
            Logged in as <strong class="ms-1"><%= current_user.username %></strong>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-light ms-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= button_to "Login", new_user_session_path, method: :get, class: "btn btn-outline-light me-2" %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Up", new_user_registration_path, method: :get, class: "btn btn-outline-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if notice %>
  <div class="alert alert-success text-center mb-0">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger text-center mb-0">
    <%= alert %>
  </div>
<% end %>

    <%= yield %>
  </body>
</html>
